<!DOCTYPE html>
<html>
  <head>
    <title>{{job.title}} - {{company_name}} Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <style>
    #banner {
      height: 360px;
      width: 100%;
      object-fit:contain;
      margin-bottom: 16px;
    }
  </style>
  <img class="img-fluid" id="banner" src="https://saveetha.ac.in/ref/old/images/files/events/2019/career-banner.jpg" >
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        {{company_name}} Careers
      </h1>
      <h3 class="mb-2">{{job.title}}</h3>
      <p class="lead mt-0">{{job.location}}</p>
      <h4>Responsibilities</h4>
      <ul>
        {% for line in job['responsibilities'].split("\n") %}
         <li>{{line}}</li> 
        {% endfor %}
      </ul>
      <h4>Requirements</h4>
      <ol>
        {% for line in job['requirements'].split("\n") %}
          <li>{{line}}</li>
        {% endfor %}
      </ol>
      <h4>Salary</h4>
      <p>{{job.currency}}{{job.salary}}</p>
      {% include 'application_form.html' %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>